<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <title>Search Route</title>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">metroinfo.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Lines
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a style="color: blue;" class="dropdown-item" href="/lines?color=blue">Blue</a></li>
              <li> <a style="color: green;" class="dropdown-item" href="/lines?color=green">Green</a></li>
              <li> <a style="color: red;" class="dropdown-item" href="/lines?color=red">Red</a></li>
              <li> <a style="color: yellow;" class="dropdown-item" href="/lines?color=yellow">Yellow</a></li>
              <li><a style="color: pink;" class="dropdown-item" href="/lines?color=pink">Pink</a></li>
              <li> <a style="color: grey;" class="dropdown-item" href="/lines?color=grey">Grey</a></li>
              <li> <a style="color: magenta;" class="dropdown-item" href="/lines?color=magenta">Magenta</a></li>
              <li> <a style="color: aqua;" class="dropdown-item" href="/lines?color=aqua">Aqua</a></li>
              <li> <a style="color: violet;" class="dropdown-item" href="/lines?color=violet">Violet</a></li>
              <li><a style="color: orange;" class="dropdown-item" href="/lines?color=orange">Orange</a></li>
  
            </ul>
  
        
        </ul>
  
      </div>
    </div>
  </nav>



 
  <h3>Find the shortest route for your journey</h3>

  <br>
  <div id="search_box" style="width:300px ;border-radius:12px;padding:5px;margin-left: auto;margin-right: auto;background-color: aliceblue;">
    <form action="/addedge" method="post">
      <b><label for="from"> From</label></b>
      <select style="width: 250px;" name="from" id="">
        <% for (const item in station) { %>
          <option value="<%- item %>">
            <%- station[item].name %>
          </option>

          <%- station[item].name %>
            <% } %>
      </select>
      <br><br>
      <b><label for="to">To </label></b>
      <br>
      <select style="width: 250px;" name="to" id="">
        <% for (const item in station) { %>
          <option value="<%- item %>">
            <%- station[item].name %>
          </option>

          <%- station[item].name %>
            <% } %>
      </select>
      <!-- <input type="text" name="from" required placeholder="From"><br><br>
            <input type="text" name="to" required placeholder="To"> -->
      <br>
      <br>
      <button class="btn btn-sm btn-success" type="submit"> Search</button>
    </form>
  </div>
  <br><br>
  <div id="header" class="d-flex justify-content-around" style="width: fit-content;padding:5px;margin-left:auto;margin-right:auto;background-color: aliceblue;"> 
  <% let l1 = ans3.length
      let i  = 0

  if(l1>0){ 
    let l2 = ans3[l1-1].length 
  %>
 <p><b><%- station[ans3[0][0]].name %></b></p> <span class="material-symbols-outlined">
arrow_circle_right
</span><p><b><%- station[ans3[l1-1][l2-1]].name %></b></p> 
 <% } %>
</div>

  
 <br><br>
  <div id="showroute" style="width: 300px; margin-left:auto;margin-right:auto">
    <% for(const lines in ans3){ %>
       
        <% for (const node in ans3[lines]) { %>
          <div style="background-color:<%- station[ans3[lines][node]].line[0] %> ;" class="station_name">
                
            <% if(station[ans3[lines][node]].line[0] == 'blue' || station[ans3[lines][node]].line[0] == 'red' || station[ans3[lines][node]].line[0] == 'green' ){
              i = i+1
              %> 
              <b style="color:white ;">  <%-  station[ans3[lines][node]].name %> </b>
          <%  }
          else{ 
            i = i+1
            %>
            <b>  <%-  station[ans3[lines][node]].name %> </b>
         <% } %>
            
          
          </div>
          
          <!-- <div style="border-bottom-left-radius: 50%;border-bottom-right-radius: 50%; width: 10px;height: 20px;margin-left: auto;margin-right: auto; background-color:<%- station[ans3[lines][node]].line[0] %> ;"></div> -->
          <% if(i!=l){ %>
            
          
          <span style="size: 12px;color:<%- station[ans3[lines][node]].line[0] %> " class="material-symbols-outlined">
            arrow_downward
            </span>
            <% } %>
          <%  } %>
       <br>
       <div>
        <% if(i!=l){ %>
         Now you are at  <%-  station[ans3[lines][ans3[lines].length-1]].name %>, move towards <%-  station[ans3[lines][0]].line[1] %> line
       <% } %>
       </div>
       <br>
   <% } %>
  </div>
  <br><br>
  <div id="thanks" style="border-radius:12px; ">Wishing you a happy journey</div>
  <br><br>


</body>

</html>
<style>
  .station_name{
   border-radius: 12px;
  }
  body {
    text-align: center;
  }
  #search_box{
    box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.6);
-webkit-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.6);
  }
  #header{
    box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.6);
-webkit-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.6);
border-radius: 12px;
  }
  #thanks{
    box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.6);
-webkit-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.6);
border-radius: 12px;
width: fit-content;
padding: 10px;
margin-left: auto;
margin-right: auto;
  }
</style>